body {
    background: #222222;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

.title_card {
    display: inline-block;
    height: 60px;
    padding-right: 1em;
    vertical-align: bottom;
}

.button {
    display: inline-block;
    background-color: #48429f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    outline: none;
}

.button_like {
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    vertical-align: center;
    height: 25px;
}

.card_regular, .card_protected, .card_vetoed {
    display: inline-block;
    width: 418px;
    height: 219px;
    margin: 10px;
    padding: 5px;
}

.card_regular {
    background: #999999;
    opacity: 1;
}

.card_protected {
    background: #c20f3c;
    opacity: 1;
    box-shadow: 0px 0px 2px 7px #c20f3c;
}

.card_vetoed {
    background: #999999;
    opacity: .2;
}

.banner_image {
    background-size: cover;
    width: 418px;
    height: 164px;
}

.info_bar {
    display: flex;
    padding-top: 5px;
}

.info_name {
    float: left;
    position: relative;
    width: 368px;
    height: 50px;
    margin: 0px;
    background: #AAAAAA;
}

.info_difficulty {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background: #AAAAFF;
    padding: 0px;
}

.text_title, .text_subtitle {
    text-align: center;
}

.text_title {
    font-weight: 700;
    font-size: 150%;
}

.text_subtitle {
    font-weight: 400;
}

.text_title_wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 368px
}

.text_difficulty {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 50px;
    margin: 0 auto;
    font-size: 200%;
    font-weight: bold;
}